p {
  font-size: 20px;
  margin-left: 30px;
}

.display-inline-flex {
  display: inline-flex
}

.display-inline-flex.green {
  color: green
}

table {
  width: 100%;
}

.remove-cell-header {
  color: #fa0000;
}
.remove-cell-header:hover {
  cursor: pointer;
  text-decoration: underline;
}
