<div class="page-container">
  <div class="flex-div-column">
    <div class="flex-div-row">
      <div class="flex-div-column">
        <div class="margin-20">
          <h1 class="margin-20">{{'UserPanel_YourTokens' | translate}}</h1>
          <table mat-table [dataSource]="tabledTokens" class="mat-elevation-z8">
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef style="text-align: left">{{'UserPanel_TokenNumber' | translate}}</th>
              <td mat-cell style="min-width: 75px"
                  *matCellDef="let element"> {{element.number //noinspection UnresolvedVariable}} </td>
            </ng-container>
            <ng-container matColumnDef="token">
              <th mat-header-cell *matHeaderCellDef>{{'UserPanel_TokenData' | translate}}</th>
              <td mat-cell style="min-width: 125px"
                  *matCellDef="let element"> {{element.token //noinspection UnresolvedVariable}} </td>
            </ng-container>
            <ng-container matColumnDef="removeButton">
              <th mat-header-cell *matHeaderCellDef (click)="openDeleteAllTokensConfirmationWindow()" class="remove-cell-header">
                {{'UserPanel_TokenRemove' | translate}}</th>
              <td mat-cell
                  *matCellDef="let element">
                  <button mat-mini-fab color="warn" (click)="openDeleteTokenConfirmationWindow(element.token)//noinspection UnresolvedVariable">
                    <mat-icon>delete</mat-icon>
                  </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="margin-20-20-20-30">
          <app-submit-button [onClick]="myCallbackFunction" buttonCaption="{{'UserPanel_GenerateNewToken' | translate}}" [requestState]="requestState"></app-submit-button>
        </div>
      </div>
    </div>
  </div>
</div>
