.list-item-installation-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-item-installation-detail-content {
  text-align: center;
  width: 10vw;
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-installation-detail-header {
  text-align: center;
  width: 10vw;
}

.basic-list-item {
  height: 20vh;
  background: var(--installation-card-color);
}

.basic-list-item:hover {
  background: var(--installation-card-text-color);
}
