<app-navbar></app-navbar>
<mat-paginator [length]="installations.length"
               [pageSize]="5"
               (page)="onPageChange($event)">
</mat-paginator>
<mat-action-list style="background-color: white">
  <mat-list-item *ngFor="let installation of displayedInstallations"
                 (click)="navigateToInstallation(installation.installationId)" class="basic-list-item">
    <div style="min-width: 100%">
      <div class="flex-div-row">
        <div *ngIf="installation.installationType=='Solar'; then solarInstall else windInstall"></div>
        <ng-template #solarInstall><img src="assets/img/solar_install.jpg" alt="" class="img-with-margin">
        </ng-template>
        <ng-template #windInstall><img src="assets/img/wind_install.jpg" alt="" class="img-with-margin"></ng-template>
        <div class="list-item-installation-detail">
          <div class="list-item-installation-detail-header">
            <h4>Installation description</h4>
          </div>
          <div class="list-item-installation-detail-content">
            {{installation.description}}
          </div>
        </div>
        <div class="list-item-installation-detail">
          <div class="list-item-installation-detail-header">
            <h4>Source description</h4>
          </div>
          <div class="list-item-installation-detail-content">
            {{installation.source.description}}
          </div>
        </div>
        <div class="list-item-installation-detail">
          <div class="list-item-installation-detail-header">
            <h4>Inverter manufacturer</h4>
          </div>
          <div class="list-item-installation-detail-content">
            {{installation.inverter.manufacturer}}
          </div>
        </div>
        <div class="list-item-installation-detail">
          <div class="list-item-installation-detail-header">
            <h4>Inverter description</h4>
          </div>
          <div class="list-item-installation-detail-content">
            {{installation.inverter.description}}
          </div>
        </div>
        <div class="list-item-installation-detail">
          <div class="list-item-installation-detail-header">
            <h4>Load name</h4>
          </div>
          <div class="list-item-installation-detail-content">
            {{installation.load.name}}
          </div>
        </div>
        <div class="list-item-installation-detail">
          <div class="list-item-installation-detail-header">
            <h4>Load description</h4>
          </div>
          <div class="list-item-installation-detail-content">
            {{installation.load.description}}
          </div>
        </div>
      </div>
    </div>
  </mat-list-item>
</mat-action-list>

