<div class="credentials-form-container">
  <div style="min-height: 370px" *ngIf="credentialsType=='token'">
    <h1 style="margin: 30px">Provide token</h1>
    <mat-form-field appearance="outline" class="userformfield" style="margin: 20px">
      <mat-label>Token</mat-label>
      <input matInput id="token" name="token" required
             [(ngModel)]="token">
    </mat-form-field>
    <br>
    <button type="submit" class="btn btn-primary" style="margin: 20px" (click)="sendMessage()">Lock credentials</button>
  </div>
  <div style="min-height: 370px" *ngIf="credentialsType=='userpass'">
    <h1 style="margin: 30px">Provide username and password</h1>
    <mat-form-field appearance="outline" class="userformfield" style="margin: 20px 20px 0">
      <mat-label>Username</mat-label>
      <input matInput id="username" name="username" required
             [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="userformfield" style="margin: 20px 20px 0">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" required
             [(ngModel)]="password">
    </mat-form-field>
    <br>
    <button type="submit" class="btn btn-primary" style="margin: 20px" (click)="sendMessage()">Lock credentials</button>
  </div>
  <div style="min-height: 370px" *ngIf="credentialsType=='empty'">
    <h1 style="margin: 30px">Select inverter manufacturer</h1>
  </div>
</div>
