<div class="credentials-form-container">
  <div class="minimum-size-component" *ngIf="credentialsType=='token'">
    <h1 class="margin-30">Provide token</h1>
    <mat-form-field appearance="outline" class="userformfield" style="margin: 20px">
      <mat-label>Token</mat-label>
      <input matInput id="token" name="token" required
             [(ngModel)]="token">
    </mat-form-field>
    <br>
    <button type="submit" class="btn btn-primary" class="margin-20" (click)="sendMessage()">Lock credentials</button>
  </div>
  <div class="minimum-size-component" *ngIf="credentialsType=='userpass'">
    <h1 class="margin-30">Provide username and password</h1>
    <mat-form-field appearance="outline" class="userformfield" style="margin: 20px 20px 0">
      <mat-label>Username</mat-label>
      <input matInput id="username" name="username" required
             [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="userformfield" style="margin: 20px 20px 0">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" required
             [(ngModel)]="password">
    </mat-form-field>
    <br>
    <button type="submit" class="btn btn-primary" class="margin-20" (click)="sendMessage()">Lock credentials</button>
  </div>
  <div class="minimum-size-component" *ngIf="credentialsType=='empty'">
    <h1 class="margin-30">Select inverter manufacturer</h1>
  </div>
</div>
