.left-panel {
    height: 100vh;
    width: 25vw;
    min-width: 300px;
    background-color: rgba(16, 12, 18, 0.7);
    display: inline-block!important;
}

.infocard {
    margin-top: 75px;
}

.minicard {
    opacity: 0.85;
    margin-top: 50px;
    margin-left: 25px;
}

img.icon {
    width: 150px;
    height: 150px;
}

.logo {
    width: 10em;
    position: absolute;
    left: 25%;
    bottom: 5%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
