.left-panel {
    height: 100vh;
    width: 25vw;
    min-width: 300px;
    background-color: rgba(16, 12, 18, 0.7);
    display: inline-block !important;
    position: relative;
}

.logo-left-panel {
    position: absolute;
    padding: 20% 20% 10%;
    width: 100%;
    bottom: 0;
}

.infocard {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 20vh;
}

.minicard {
    opacity: 0.85;
    margin-top: 50px;
    margin-left: 25px;
}

img.icon {
    width: 150px;
    height: 150px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
