<div class="container userform loginform">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">

      <label for="username">Username</label>
      <input type="text" class="form-control userformfield" id="username" name="username" required
             [(ngModel)]="model.username">

      <label for="password">Password</label>
      <input type="password" class="form-control userformfield" id="password" name="password" required
             [(ngModel)]="model.password">

      <button type="submit" class="btn btn-primary userformbutton">Login</button>
      <button type="button" class="btn btn-link userformbutton link"
              (click)="redirectToRegister()">Don't have account yet?
      </button>
    </div>
  </form>
</div>
