<div class="container background" [style.background]="appComp.background">
  <div class="container userform loginform">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">

        <label for="username">Username</label>
        <input type="text" class="form-control userformfield" id="username" name="username" required
               [(ngModel)]="model.username">

        <label for="password">Password</label>
        <input type="password" class="form-control userformfield" id="password" name="password" required
               [(ngModel)]="model.password">

        <div class="userformbutton">
          <button mat-raised-button color="primary" type="submit">Login</button>
          <button type="button" class="btn btn-link link"
                  (click)="redirectToRegister()">Don't have account yet?
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
