<app-navbar></app-navbar>

<mat-horizontal-stepper class="font-20" linear="Enable linear mode" #stepper>
  <mat-step [stepControl]="installationForm">
    <form [formGroup]="installationForm">
      <ng-template matStepLabel>{{'DigitalSignage_ChooseInst' | translate}}</ng-template>
      <div class="step" *ngIf="!loading">
        <div style="flex-direction: column">
          <h3>{{'DigitalSignage_Installation' | translate}}</h3>
          <mat-form-field appearance="standard">
            <mat-label>{{'DigitalSignage_SelectOption' | translate}}</mat-label>
            <mat-select formControlName="installationId">
              <mat-option>{{'DigitalSignage_None' | translate}}</mat-option>
              <mat-option *ngFor="let id of installationIDs" [value]="id">{{id}}</mat-option>
            </mat-select>
          </mat-form-field>
          <h3>{{'DigitalSignage_APIToken' | translate}}</h3>
          <mat-form-field appearance="standard">
            <mat-label>{{'DigitalSignage_SelectOption' | translate}}</mat-label>
            <mat-select formControlName="apiToken">
              <mat-option>{{'DigitalSignage_None' | translate}}</mat-option>
              <mat-option *ngFor="let token of apiTokens" [value]="token">{{token}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-fab matStepperNext style="margin-left: 100px;" color="primary" (click)="installationSelected()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="slidesForm">
    <ng-template matStepLabel>{{'DigitalSignage_ChooseView' | translate}}</ng-template>
    <div class="step">
      <button mat-fab style="margin-right: 100px;" color="primary" matStepperPrevious>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div style="align-items: flex-start; display: flex; flex-direction: column">
        <div style="display:flex; flex-direction: row; min-width: 350px">
          <img class="thumbnail" height="90" width="160" src="assets/img/introDigital.png">
          <mat-checkbox [(ngModel)]="introSelected" style="font-size: 30px; margin: 30px">{{'DigitalSignage_Intros' | translate}}</mat-checkbox>
        </div>
        <div style="display: flex;flex-direction: row; min-width: 350px">
          <img class="thumbnail" height="90" width="160" src="assets/img/treesDigital.png">
          <mat-checkbox [(ngModel)]="treesSelected" style="font-size: 30px; margin: 30px">{{'DigitalSignage_Trees' | translate}}</mat-checkbox>
        </div>
        <div style="display: flex;flex-direction: row; min-width: 350px">
          <img class="thumbnail" height="90" width="160" src="assets/img/chartsDigital.png">
          <mat-checkbox [(ngModel)]="chartsSelected" style="font-size: 30px; margin: 30px">{{'DigitalSignage_Charts' | translate}}</mat-checkbox>
        </div>
        <mat-form-field style="margin: 30px 0px;min-width: 300px">
          <mat-label>{{'DigitalSignage_TimePerView' | translate}}</mat-label>
          <input [(ngModel)]="desiredTimePerSlide" matInput required>
        </mat-form-field>
      </div>
      <button mat-fab matStepperNext style="margin-left: 100px;" color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'DigitalSignage_Summarization' | translate}}</ng-template>
    <div class="step">
      <button mat-fab color="primary" style="margin-right: 100px" matStepperPrevious>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div style="border: solid black 1px; padding: 5px">
        <h3>{{'DigitalSignage_FilePreview' | translate}}</h3>
        <p>const config = {{'{'}}</p>
        <p>"installationId": {{this.installationId}},</p>
        <p>"apiToken": {{this.apiToken}},</p>
        <p>"slides": {{'{'}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;"intro": {{this.introSelected}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;"trees": {{this.treesSelected}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;"power_chart": {{this.chartsSelected}}</p>
        <p>{{'}'}},</p>
        <p>"slideChangeTimeout": {{this.desiredTimePerSlide}}</p>
        <p>{{'}'}};</p>
      </div>
      <button mat-raised-button color="primary" style="margin-left: 30px" (click)="downloadFile()">{{'DigitalSignage_Download' | translate}}</button>
    </div>
  </mat-step>


</mat-horizontal-stepper>
