<app-navbar></app-navbar>

<mat-horizontal-stepper class="font-20" linear="Enable linear mode" #stepper>
  <mat-step [stepControl]="installationForm">
    <form [formGroup]="installationForm">
      <ng-template matStepLabel>Choose your installation and API token</ng-template>
      <div class="step" *ngIf="!loading">
        <div style="flex-direction: column">
          <h3>Installation</h3>
          <mat-form-field appearance="standard">
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="installationId">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let id of installationIDs" [value]="id">{{id}}</mat-option>
            </mat-select>
          </mat-form-field>
          <h3>API Token</h3>
          <mat-form-field appearance="standard">
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="apiToken">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let token of apiTokens" [value]="token">{{token}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-fab matStepperNext style="margin-left: 100px;" color="primary" (click)="installationSelected()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="slidesForm">
    <ng-template matStepLabel>Choose desired views and time per one</ng-template>
    <div class="step">
      <button mat-fab style="margin-right: 100px;" color="primary" matStepperPrevious>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div style="display: flex; flex-direction: column">
        <mat-checkbox [(ngModel)]="introSelected" style="font-size: 30px; margin: 30px">Intros</mat-checkbox>
        <mat-checkbox [(ngModel)]="treesSelected" style="font-size: 30px; margin: 30px">Trees</mat-checkbox>
        <mat-checkbox [(ngModel)]="chartsSelected" style="font-size: 30px; margin: 30px">Charts</mat-checkbox>
        <mat-form-field style="margin: 30px">
          <mat-label>Time per view</mat-label>
          <input [ngModel]="desiredTimeout" required matInput>
        </mat-form-field>
      </div>
      <button mat-fab matStepperNext style="margin-left: 100px;" color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Summarization</ng-template>
    <div class="step">
      <button mat-fab color="primary" matStepperPrevious>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="downloadFile()">Download</button>
    </div>
  </mat-step>


</mat-horizontal-stepper>
