<app-navbar></app-navbar>
<div class="page-container">
  <mat-card class="main-card-container">
    <div [ngClass]="['left-margin-container', 'dashboard-card' ]">
      <mat-card [ngClass]="['left-margin-card']">
        <div class="installation-container">
          <mat-card-header class="installation-header-container">
            <mat-card-title>
              {{'EditInstallation_Installation' | translate}}
            </mat-card-title>
            <mat-icon>wb_sunny</mat-icon>
          </mat-card-header>
          <mat-card class="installation-description-container">
            {{installation.description}}
          </mat-card>
        </div>
        <div [ngClass]="['installation-properties-container']">
          <div class="properties-container" [ngStyle]="{'grid-template-columns': '49% 49%'}">
            <div *ngFor="let property of summaryProperties | keyvalue" class="property-container">
              <span>{{property.key}}</span>
              <span>{{property.value}}</span>
            </div>
          </div>
        </div>

      </mat-card>
      <button mat-raised-button color="primary" type="button" class="btn btn-primary"
              (click)="navigateToCharts()">{{'EditInstallation_ShowCharts' | translate}}
      </button>
      <button mat-raised-button color="primary" type="button" class="btn btn-primary"
              (click)="navigateToDigitalSignage()">{{'EditInstallation_CreateConfig' | translate}}
      </button>
      <button mat-raised-button color="primary" type="button" class="btn btn-primary"
              (click)="navigateToEditInstallation()">{{'EditInstallation_EditInstallation' | translate}}
      </button>
      <button mat-raised-button color="warn" type="button" class="btn btn-danger"
              (click)="openDeleteConfirmationWindow()">{{'EditInstallation_RemoveInstallation' | translate}}
      </button>
    </div>
    <div [ngClass]="['right-margin-container', 'dashboard-card']">
      <mat-card [ngClass]="['right-margin-card']">
        <app-description-tile [description]="installation.inverter.description" tileTitle="{{'EditInstallation_Inverter' | translate}}"
                              icon="power_input" [properties]="getInverterProperties()"
                              [ngClass]="'dashboard-card'" [singlePropertiesDisplay]="true"></app-description-tile>
      </mat-card>
      <mat-card [ngClass]="['right-margin-card']">
        <app-description-tile [description]="installation.source.description" tileTitle="{{'EditInstallation_Source' | translate}}"
                              icon="power" [properties]="getSourceProperties()"
                              [ngClass]="'dashboard-card'"></app-description-tile>
      </mat-card>
      <mat-card [ngClass]="['right-margin-card']">
        <app-description-tile [singlePropertiesDisplay]="true"
                              [description]="installation.load.description"
                              tileTitle="{{'EditInstallation_Load' | translate}}" icon="home" [properties]="getLoadProperties()"
                              [ngClass]="'dashboard-card'"></app-description-tile>
      </mat-card>
    </div>
  </mat-card>
</div>
