<div>
  <app-navbar></app-navbar>
  <div style="background-color: white; width: 80%; height: 90%; position:absolute; display: flex">
    <div class="form-group installation-add-form">
      <form (ngSubmit)="onSubmit()" #installationForm="ngForm">
        <div style="display: flex">
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <div>
              <mat-form-field appearance="outline" class="userformfield">
                <mat-label>Installation type</mat-label>
                <input matInput id="installationType" name="installationType" required
                       [(ngModel)]="formModel.installationType">
              </mat-form-field>
            </div>
            <div style="">
              <mat-form-field appearance="outline" class="userformfield">
                <mat-label>Longitude</mat-label>
                <input matInput id="longitude" name="longitude" required
                       [(ngModel)]="formModel.longitude">
              </mat-form-field>
            </div>
            <div style="">
              <mat-form-field appearance="outline" class="userformfield">
                <mat-label>Latitude</mat-label>
                <input matInput id="latitude" name="latitude" required
                       [(ngModel)]="formModel.latitude">
              </mat-form-field>
            </div>
          </div>
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Description</mat-label>
              <textarea matInput id="description" name="description"
                        [(ngModel)]="formModel.description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div style="display: flex">
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Load Name</mat-label>
              <input matInput id="loadName" name="loadName" required
                     [(ngModel)]="formModel.load.name">
            </mat-form-field>
          </div>
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Load Description</mat-label>
              <textarea matInput id="loadDescription" name="loadDescription"
                        [(ngModel)]="formModel.load.description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div style="display: flex">
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Inverter Manufacturer</mat-label>
              <input matInput id="inverterManufacturer" name="inverterManufacturer" required
                     [(ngModel)]="formModel.inverter.manufacturer">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Inverter Credentials</mat-label>
              <input matInput id="inverterCredentials" name="inverterCredentials" required
                     [(ngModel)]="formModel.inverter.credentials">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Inverter Model Type</mat-label>
              <input matInput id="inverterModelType" name="inverterModelType" required
                     [(ngModel)]="formModel.inverter.modelType">
            </mat-form-field>
          </div>
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Inverter Description</mat-label>
              <textarea matInput id="inverterDescription" name="inverterDescription"
                        [(ngModel)]="formModel.inverter.description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div style="display: flex">
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Source Azimuth</mat-label>
              <input matInput id="sourceAzimuth" name="sourceAzimuth" required
                     [(ngModel)]="formModel.source.azimuth">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Source Capacity</mat-label>
              <input matInput id="sourceCapacity" name="sourceCapacity" required
                     [(ngModel)]="formModel.source.capacity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Source Tilt</mat-label>
              <input matInput id="sourceTilt" name="sourceTilt" required
                     [(ngModel)]="formModel.source.tilt">
            </mat-form-field>
          </div>
          <div style="width: 50%; max-width: 400px; margin-right: 20px; margin-left: 20px">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Source Description</mat-label>
              <textarea matInput id="sourceDescription" name="sourceDescription"
                        [(ngModel)]="formModel.source.description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 20px">Submit installation</button>
      </form>
    </div>
    <app-request-response-component [requestReceivedState]="requestReceivedState"
    [sendRequestState]="sendRequestState">
    </app-request-response-component>
  </div>
</div>
