<div class="header-container">
  <h1 class="margin-20">Your user info</h1>
</div>
<div>
  <mat-form-field appearance="outline" class="userformfield">
    <mat-label>Username</mat-label>
    <input matInput id="username" name="username" required [disabled]="true"
           [(ngModel)]="username">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline" class="userformfield">
    <mat-label>Email</mat-label>
    <input matInput id="email" name="email" required [disabled]="isEmailDisabled"
           [(ngModel)]="email">
  </mat-form-field>
</div>
<div *ngIf="!isPasswordDisabled || !isEmailDisabled">
  <mat-form-field appearance="outline" class="userformfield">
    <mat-label>Current Password</mat-label>
    <input matInput id="password" name="password" required
           [(ngModel)]="formModel.password" type="password">
  </mat-form-field>
</div>
<div *ngIf="!isPasswordDisabled">
  <mat-form-field appearance="outline" class="userformfield">
    <mat-label>New Password</mat-label>
    <input matInput id="newPassword" name="newPassword" required
           [(ngModel)]="formModel.newPassword" type="password">
  </mat-form-field>
</div>
<div *ngIf="!isPasswordDisabled">
  <mat-form-field appearance="outline" class="userformfield">
    <mat-label>Confirm New Password</mat-label>
    <input matInput id="newPasswordConfirm" name="newPasswordConfirm" required
           [(ngModel)]="newPasswordConfirm" type="password" [appEqualsTo]="formModel.newPassword">
  </mat-form-field>
</div>
<div class="buttons-container">
  <app-submit-button [onClick]="myCallbackFunction" buttonCaption="Submit edition"
                     [requestState]="requestState" [disabled]="isEmailDisabled && isPasswordDisabled"></app-submit-button>
  <button mat-raised-button (click)="toggleEmailEdit()">Change Email</button>
  <button mat-raised-button (click)="togglePasswordEdit()">Change Password</button>
</div>
