<div>
  <app-navbar></app-navbar>
  <h1>Your installations</h1>
  <div class="container" style="background-color: white; position: center; height: 80%; width: 80%">
    <li *ngFor="let installation of installations">
      <div>
        <img src="/assets/img/solar_install.jpg">
        <div class="card card-small">
          {{installation.installationId}}
        </div>
        <div class="card card-small">
          {{installation.installationType}}
          {{installation.description}}
          {{installation.latitude}}
          {{installation.longitude}}
        </div>
        <ng-container *ngIf="installation.source as source;">
          <div class="card card-small">
            Source:
            {{source.description}}
            {{source.capacity}}
            {{source.tilt}}
            {{source.azimuth}}
          </div>
        </ng-container>
        <ng-container *ngIf="installation.inverter as inverter;">
          <div class="card card-small">
            Inverter:
            {{inverter.description}}
            {{inverter.modelType}}
            {{inverter.manufacturer}}
          </div>
        </ng-container>
        <ng-container *ngIf="installation.load as load;">
          <div class="card card-small">
            Load:
            {{load.description}}
            {{load.name}}
          </div>
        </ng-container>
      </div>
    </li>
  </div>
</div>

