<app-navbar></app-navbar>

<mat-horizontal-stepper class="font-20" linear="Enable linear mode" #stepper>
  <mat-step [stepControl]="installationForm">
    <form [formGroup]="installationForm">
      <ng-template matStepLabel>{{'Charts_ChooseYourInstallation' | translate}}</ng-template>
      <div class="step">
        <mat-form-field appearance="standard">
          <mat-label>{{'Charts_SelectOption' | translate}}</mat-label>
          <mat-select formControlName="installationId" (selectionChange)="installationSelectedOption()">
            <mat-option>{{'Charts_NoInstallation' | translate}}</mat-option>
            <mat-option *ngFor="let id of installationIDs" [value]="id">{{id}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-fab matStepperNext style="margin-left: 100px;" color="primary" (click)="installationSelected()" id="ChooseInstallationNext"
         hidden>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="datePickerForm">
    <form [formGroup]="datePickerForm">
      <ng-template matStepLabel>{{'Charts_ChooseDate' | translate}}</ng-template>
      <div *ngIf="getSelectableDatesError">
        <div class="center alert alert-danger" role="alert">
          {{'Charts_NoChartsForInstallation' | translate}}
        </div>
      </div>
      <div *ngIf="!getSelectableDatesError">
        <div class="step">
          <mat-form-field class="component-container">
            <mat-label>{{'Charts_ChooseDate' | translate}}</mat-label>
            <input matInput disabled class="component-container" [matDatepickerFilter]="dateFilter" formControlName="date"
                   [matDatepicker]="picker" (ngModelChange)="dateSelectedOption()">
            <mat-datepicker-toggle class="component-container" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" touchUi class="component-container" [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-form-field>
          <button mat-fab matStepperNext style="margin-left: 100px;" color="primary" (click)="dateSelected()" id="ChooseDateNext" hidden>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'Charts_WatchCharts' | translate}}</ng-template>
    <div *ngIf="getChartsError">
      <div class="center alert alert-danger" role="alert">
        {{'Charts_NoCharts' | translate}}
      </div>
    </div>
    <div *ngIf="!getChartsError" style='min-height:800px'>
      <mat-tab-group>
        <mat-tab *ngFor="let item of this.charts" [label]=formatTime(item.name)>
          <mat-card-header>
            <img mat-card-image class="center" [src]=item.data alt="img">
          </mat-card-header>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-step>
</mat-horizontal-stepper>
