<div class="slide">
  <div class="entry" >
    <p>{{'Summary_CurrentPower' | translate}}</p>
    <p>{{summary.currentPower}}</p>
  </div>
  <div class="entry" >
    <p>{{'Summary_TodayEnergy' | translate}}</p>
    <p>{{summary.todayEnergy}}</p>
  </div>
  <div class="entry" >
    <p>{{'Summary_Energy' | translate}}</p>
    <p>{{summary.totalEnergy}}</p>
  </div>
  <div class="logo" >
    <img src="/assets/img/logo.png" alt="logo" style="border-radius: 50%"/>
    <img src="/assets/img/OpenKlaster.png" alt="logo" style="border-radius: 50%"/>
  </div>
  <div></div>
</div>
