<div class="credentials-form-container">
  <div class="minimum-size-component" *ngIf="credentialsType=='token'">
    <app-credentials-token (tokenEmitter)="receiveMessage($event)"></app-credentials-token>
  </div>
  <div class="minimum-size-component" *ngIf="credentialsType=='userpass'">
    <app-credentials-userpass (userpassEmitter)="receiveMessage($event)"></app-credentials-userpass>
  </div>
  <div class="minimum-size-component" *ngIf="credentialsType=='empty'">
    <h1 class="margin-30">Select inverter manufacturer</h1>
  </div>
</div>
