<app-navbar></app-navbar>
<div class="page-container">
    <form>
      <div style="display: flex">
        <div class="half-div-line-margins-max400">
          <div style="margin-top: 8px">
            <mat-button-toggle-group [(ngModel)]="formModel.installationType" name="installationType">
              <mat-button-toggle value="Solar" style="min-width: 200px">Solar</mat-button-toggle>
              <mat-button-toggle value="Wind" style="min-width: 200px">Wind</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <br>
          <div style="">
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Longitude</mat-label>
              <input matInput id="longitude" name="longitude" required
                     [(ngModel)]="formModel.longitude">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="userformfield">
              <mat-label>Latitude</mat-label>
              <input matInput id="latitude" name="latitude" required
                     [(ngModel)]="formModel.latitude">
            </mat-form-field>
          </div>
        </div>
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Description</mat-label>
            <textarea matInput id="description" name="description"
                      [(ngModel)]="formModel.description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div style="display: flex">
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Load Name</mat-label>
            <input matInput id="loadName" name="loadName" required
                   [(ngModel)]="formModel.load.name">
          </mat-form-field>
        </div>
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Load Description</mat-label>
            <textarea matInput id="loadDescription" name="loadDescription"
                      [(ngModel)]="formModel.load.description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div style="display: flex">
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Inverter Model Type</mat-label>
            <input matInput id="inverterModelType" name="inverterModelType" required
                   [(ngModel)]="formModel.inverter.modelType">
          </mat-form-field>
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Inverter manufacturer</mat-label>
            <mat-select [(value)]="formModel.inverter.manufacturer" >
              <mat-option style="background-color: white" *ngFor="let manufacturer of manufacturersMap.keys()"
                          [value]="manufacturer" (onSelectionChange)="changeCredentials($event)" >
                {{manufacturer}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <app-dynamic-form [questions]="questions$"
                              (credentialsEventEmitter)="handleCredentialsChange($event)">
            </app-dynamic-form>
          </div>
        </div>
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Inverter Description</mat-label>
            <textarea matInput id="inverterDescription" name="inverterDescription"
                      [(ngModel)]="formModel.inverter.description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div style="display: flex">
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Source Azimuth</mat-label>
            <input matInput id="sourceAzimuth" name="sourceAzimuth" required
                   [(ngModel)]="formModel.source.azimuth">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Source Capacity</mat-label>
            <input matInput id="sourceCapacity" name="sourceCapacity" required
                   [(ngModel)]="formModel.source.capacity">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Source Tilt</mat-label>
            <input matInput id="sourceTilt" name="sourceTilt" required
                   [(ngModel)]="formModel.source.tilt">
          </mat-form-field>
        </div>
        <div class="half-div-line-margins-max400">
          <mat-form-field appearance="outline" class="userformfield">
            <mat-label>Source Description</mat-label>
            <textarea matInput id="sourceDescription" name="sourceDescription"
                      [(ngModel)]="formModel.source.description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <app-submit-button [onClick]="myCallbackFunction" buttonCaption="Submit Installation"
                         [requestState]="sendRequestState" style="padding-left: 20px"></app-submit-button>
    </form>
</div>
