.image-container {
  height: 320px;
  width: 480px;
}

.margin-50 {
  margin: 50px
}

.button-container {
  min-width: auto;
  min-height: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

p {
  font-size: 20px;
  margin: 10px;
}

