<div class="container">
  <app-navbar></app-navbar>
  <h1>Your installations</h1>
    <div class="card card-small">
      {{installation.installationType}}
      {{installation.description}}
      {{installation.latitude}}
      {{installation.longitude}}
    </div>
    <div class="card card-small">
      Source:
      {{installation.source.description}}
      {{installation.source.capacity}}
      {{installation.source.tilt}}
      {{installation.source.azimuth}}
    </div>
    <div class="card card-small">
      Inverter:
      {{installation.inverter.description}}
      {{installation.inverter.modelType}}
      {{installation.inverter.manufacturer}}
    </div>
    <div class="card card-small">
      Load:
      {{installation.load.description}}
      {{installation.load.name}}
    </div>
</div>
