<h1 class="margin-30">Provide username and password</h1>
<mat-form-field appearance="outline" class="userformfield" style="margin: 20px 20px 0">
  <mat-label>Username</mat-label>
  <input matInput id="username" name="username" required (ngModelChange)="sendMessage()"
         [(ngModel)]="username">
</mat-form-field>
<mat-form-field appearance="outline" class="userformfield" style="margin: 20px 20px 0">
  <mat-label>Password</mat-label>
  <input matInput id="password" name="password" required (ngModelChange)="sendMessage()"
         [(ngModel)]="password">
</mat-form-field>
