.logo {
  margin: 0 4px 3px 10px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: white;
  vertical-align: middle;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
img{
  width:100%;
  max-width:40px;
}
a{
  color: white;
}
.container_row{
  display: flex;
}
