<app-navbar></app-navbar>
<div class="page-container">
  <div class="flex-div-column">
    <div class="margin-20">
      <h1>API tokens are necessary to use OpenKlaster REST API<br>
        Link to Swagger API :)<br>
        Visit swagger API to check how to properly use OpenKlaster API
      </h1>
    </div>
    <div class="flex-div-row">
      <div class="flex-div-column">
        <div class="margin-20">
          <h1 class="margin-20">Your tokens</h1>
          <table mat-table [dataSource]="tabledTokens" class="mat-elevation-z8">
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef> Number</th>
              <td mat-cell style="min-width: 100px" *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
            <ng-container matColumnDef="token">
              <th mat-header-cell *matHeaderCellDef> Token</th>
              <td mat-cell style="min-width: 100px" *matCellDef="let element"> {{element.token}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="margin-20-20-20-30">
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary" (click)="addToken()">
            Generate new token
          </button>
        </div>
      </div>
      <app-request-response-component [requestReceivedState]="requestReceivedState"
                                      [sendRequestState]="sendRequestState"
                                      [submittedObjectName]="submittedObjectName">
      </app-request-response-component>
    </div>
  </div>
</div>
