<app-navbar></app-navbar>
<div class="page-container">
  <div class="flex-div-column">
    <div class="margin-20">
      <h1>API tokens are necessary to use OpenKlaster REST API<br>
        Link to Swagger API :)<br>
        Visit swagger API to check how to properly use OpenKlaster API
      </h1>
    </div>
    <div class="flex-div-row">
      <div class="flex-div-column">
        <div class="margin-20">
          <h1 class="margin-20">Your tokens</h1>
          <mat-list-item *ngFor="let token of tokens" class="basic-list-item">
            <p style="display:inline-flex">{{token.data}} &nbsp; </p>
            <p style="display:inline-flex;color:green">Active</p>
          </mat-list-item>
        </div>
        <div class="margin-20-20-20-30">
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary" (click)="addToken()">
            Generate new token
          </button>
        </div>
      </div>
      <app-request-response-component [requestReceivedState]="requestReceivedState"
                                      [sendRequestState]="sendRequestState"
                                      [submittedObjectName]="submittedObjectName">
      </app-request-response-component>
    </div>
  </div>
</div>
