@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.container.background {
  width: 100%;
  height: 100%;
}


.container.userform {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 480px;
  margin-left: -240px;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.userformbutton {
  margin-top: 20px
}

.userformbutton.link {
  text-decoration: underline
}

.userformfield {
  min-width: 400px
}

.img-with-margin{
  margin: 10px
}

.mat-list-item.mat-focus-indicator.ng-star-inserted.basic-list-item {
  min-height: 160px;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding: 20px
}

.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0px !important
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
