.image-container {
  height: 160px;
  width: 240px;
}

.margin-5 {
  margin: 5px
}

.margin-15 {
  margin: 15px
}

.margin-50 {
  margin: 50px
}

.margin-left-50 {
  margin-left: 50px;
}

.button-container {
  min-width: auto;
  min-height: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

p {
  font-size: 20px;
  margin: 10px;
}

.mat-fab {
  outline: none;
  border-color: #fa0000;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
