.image-container {
  height: 160px;
  width: 240px;
}

.margin-5 {
  margin: 5px
}

.margin-15 {
  margin: 15px
}

.margin-50 {
  margin: 50px
}

.margin-left-50 {
  margin-left: 50px;
}

.button-container {
  min-width: auto;
  min-height: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

p {
  font-size: 20px;
  margin: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 50%;
  overflow: auto;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }

  .mat-fab {
    outline: none;
    border-color: #fa0000;
  }

  th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
