.request-response-container {
  border: 1px solid blue;
  margin: 50px;
  border-radius: 25px;
  width: 600px;
}

/*Size of material angular icon depends on font-size :) */

.request-response-icon {
  font-size: 120px;
  margin-right: 60px
}

.request-response-icon-positive {
  color: green
}

.request-response-icon-negative {
  color: red
}

.request-response-next-to-icon-margin {
  margin: 30px
}
